<p id="notice"><%= notice %></p>

<p>
  <strong>Date start:</strong>
  <%= @subscription.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @subscription.date_end %>
</p>

<p>
  <strong>User:</strong>
  <%= @subscription.user %>
</p>

<p>
  <strong>Car:</strong>
  <%= @subscription.car %>
</p>

<%= link_to 'Back', subscriptions_path %>
