<p id="notice"><%= notice %></p>

<h1>Available Cars</h1>
  <% @cars.each do |car| %>
  <div class="card" style="width: 18rem;">
  <%= cl_image_tag car.photo.key %>
  <div class="card-body">
    <h5 class="card-title"><%= car.model %></h5>
    <p class="card-text"><%= car.description %></p>
    <%= link_to 'Show', car %>
  </div>
</div>
<% end %>


<br>

<%= link_to 'New Car', new_car_path %>
