<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Available Cars</h1>
  <div class="card-group d-flex flex-wrap">
    <% @cars.each do |car| %>
      <div class="col-sm-4 py-2">
        <div class="card h-100" style="width: 18rem;">
        <%= cl_image_tag car.photo.key %>
          <div class="card-body">
          <h5 class="card-title"><%= car.model %></h5>
          <p class="card-text"><%= car.description %></p>
          <%= link_to 'Show', car %>
          </div>
        </div>
      </div>
    <% end %>
</div>

<br>

<%= link_to 'New Car', new_car_path %>
